@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    height: 70px;
    padding: 15px 30px;
    box-shadow: 0px 2.9px 7.4px rgba(0,0,0,0.1);
    align-items: center;

}
nav h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.logo{
   height: 150%;
}

/* section */
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem 1rem;
    width:1300px;
    margin: auto;
}
.buttons{
    /* background-color: red; */
    width: 1260px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.btn{
    margin-right: 1rem;
}
.footer--item{
    text-align: center;
   padding: 1rem;
}