@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  padding: 1rem;
}

.container{
  max-width:900px;
}
nav{
  border-radius:0 0 10px 10px ;
}
.navbar{
  padding: 0 1rem;
  height: 60px; 
  font-size: larger;
}
.navbar-brand{
  margin-right: auto;
}